* {
  color: #fff;
}

option {
  color: #000 !important;
}

.container {
  width: 514px !important;
  max-height: 300px !important;
  padding: 0 2.3rem;
}

#letters img {
  border: 1px solid black;
  padding: 0;
  float: right;
  cursor: pointer;
  touch-action: manipulation !important;
}

img:hover,
.bgBlue {
  background: rgb(180, 180, 180);
}
