* {
  color: #fff;
}

option {
  color: #000 !important;
}

.container {
  width: 514px !important;
  padding: 0 2.3rem;
}

#letters img {
  width: 5.5rem;
  height: auto;
  border: 1px solid black;
  padding: 0;
  float: right;
}
